/* so the window resize fires within a frame in IE7 */
html, body {
    height: 100%;    
}

a {
	color: inherit;
}

p {
	margin: 0px;
}

.ax_h1 {
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_image {
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}

body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-105px;
  width:985px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:105px;
  top:170px;
  width:171px;
  height:87px;
  font-family:'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:64px;
  color:#333333;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:87px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:105px;
  top:350px;
  width:480px;
  height:27px;
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#333333;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:27px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:105px;
  top:542px;
  width:153px;
  height:18px;
  font-family:'Open Sans Regular', 'Open Sans';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#0066CC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:105px;
  top:393px;
  width:148px;
  height:27px;
  font-family:'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#333333;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:698px;
  top:146px;
  width:392px;
  height:434px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:434px;
}
#u9 {
  position:absolute;
  left:2px;
  top:209px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
