body { font: 14px/1.5em Arial, sans-serif; background: #FFF; color: #333; }

h1, h2, h3, h4, h5 { margin: 1.5em 0 1em; font-weight: bold; color: #444; }
h1 { font-size: 28px; margin: .5em 0 .5em; }
h2 { font-size: 20px; margin: 1.5em 0 .3em; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }

p { margin: 0 0 1em; }

#container { width: 960px; margin: 0 auto; padding: 42px 0 56px; }

em { font-style: italic; }

strong { font-weight: bold; }

p.breadcrumb { font-size: 11px; margin: 0 0 .5em; }